.scroll-top-btn {
    display: none;
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 50px;
    height: 50px;
    background-color: var(--card-bg);
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    box-shadow: var(--shadow);
    transition: var(--transition);
    z-index: 1000;
}

.scroll-top-btn i {
    color: var(--green-primary);
    font-size: 20px;
}

.scroll-top-btn:hover {
    background-color: var(--card-bg);
    transform: translateY(-3px);
}